.DS_Store
node_modules/
backup/db/
private/
db/db.json
db/callback.json
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist.zip
ecosystem.config.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# test script
test.js
ignoreme.js

# user file
newuser